*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex; 
    flex-wrap: wrap;
    background-color: rgb(180, 180, 172);
    height: 100vh;
}

header {
    background-color: rgb(116, 198, 127);
    display: flex;
    justify-content: flex-end;  
    width: 100%;
    cursor: pointer;
}
header:hover {
    background-color: rgb(122, 188, 122);
}

section {
    display: flex;   
    flex-wrap: wrap; 
    flex-direction: column;
    width: 80%;
    float: left;
    border: 2px solid;
}

aside {
    width: 230px;
    float: left; 
    margin: 20px;
    border: 2px solid;
    height: auto; 
}

.imagen-principal {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    cursor: none; 
}

.saludo {
    margin-top: 15px;
    font-size: 30px;
    display: flex;
}

.menu {
    display: flex; 
    margin: 10px;

}

.menu ul {
    list-style: none; 
    padding: 10px;
    margin: 10px;
    display: flex; 
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
}

.informacion {
    display: flex;
    width: auto; 
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
}
.nombre {
    font-size: 40px;
    margin-top: 5px;
    position: relative;
    font-style: oblique;
}
.cargo {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20px;
    position: absolute;
    margin-top: 45px;
}

#descargarcv {
    width: 70px;
    height: 40px;
    margin-left: 80%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 5px opx
   
}

#descargarcv:hover {
    background-color: gray;
}


#btn-habilidades, #btn-certificados, #btn-proyectos {
    width: 90px;
    height: 40px;
    font-size: 13px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color:  rgb(105, 149, 111);
}
#btn-habilidades:hover, #btn-certificados:hover, #btn-proyectos:hover {
    background-color:rgb(116, 198, 127);
}

.contenedor-habilidades {
    display: flex;
    margin: 20px;
    height: 90px;
    width: 90%;
    border: 2px solid;
}

#contenedor-img-svg img {
    flex-wrap: wrap;
    margin: 5px;
    height: 60px;
    width: 90px;
    margin-left: 10px;
  }

.contenedor-certificado {
    display: flex;
    margin: 20px;
    height: 120px;
    width: 90%;
    border: 2px solid;
    
}
#contenedor-certificado-img img{
   flex-wrap: wrap;
    margin-top: 5px;
    height: auto;
    width: 135px;
    cursor: pointer;
    margin-left: 10px;
    border: 5px solid;
    
}

.contenedor-proyectos {
    margin-top: 30px;
    display: flex;
    margin: 20px;
    height: 170px;
    width: 90%;
    border: 2px solid;
}

#contenedor-proyectos-img .img-proy {
    flex-wrap: wrap;
    margin: 10px;
    height: 150px;
    cursor: pointer;
    max-width: 80%;
    border: 5px solid;
}

footer {
  display: flex;
  background-color: rgb(53, 48, 48);
  color: white;
  height: 80px;
  padding: 30px;
  width: 100%;
  bottom: 0;
  margin-top: 3px;
}

.email,.numero {
    margin-left: 10px;
    font-size: 18px;
}
.logo-whatsapp {
    height: 30px;
}

@media (max-width: 1246px ) {
    section {
        width: 75%;
        float: left;
    }

    aside {
        width: 200px;
    } 

.contenedor-habilidades, .contenedor-certificado, .contenedor-proyectos {
    display: flex;
    height: auto;
    width: auto;
}

#contenedor-img-svg img {
    flex-wrap: wrap;
    margin: 15px;
    height: 50px;
    width: 70px;
  }

    #contenedor-certificado-img img {
         margin: 3px;
         max-width: 100%;
         height: auto;
         cursor: pointer;
     }

    #contenedor-proyectos-img img {
       max-width: 100%;
       height: auto;
       cursor: pointer;
   }
   .nombre {
    margin-left: 20px;
   }
   .cargo {
    margin-left: 25px;
   }

    
} 

@media (max-width: 970px ) {
    section {
        width: 60%;
        float: left;
    }
    
    aside {
        width: 180px; 
    }


#contenedor-img-svg img {
    flex-wrap: wrap;
    margin: 10px;
    height: 40px;
    width: 60px;
  }

    #contenedor-certificado-img img {
         margin: 3px;
         max-width: 100%;
         height: auto;
         cursor: pointer;
     }

    #contenedor-proyectos-img img {
       max-width: 100%;
       height: auto;
       cursor: pointer;
   }

   .nombre {
    font-size: 30px;
    margin-top: 0px;
    position: relative;
    font-style: oblique;
}
.cargo {
    font-style: italic;
    font-size: 15px;
    position: absolute;
    margin-top: 35px;
}

footer {
    height: 50px;
}
.email,.numero {
    margin-left: 10px;
    font-size: 15px;
}
.logo-whatsapp {
    height: 20px;
}
}


@media (max-width: 715px ) {
    section {
        width: 50%;
        float: left;
    }
    
aside {
    width: 160px;
}  
    

#contenedor-img-svg img {
    flex-wrap: wrap;
    margin: 10px;
    height: 40px;
    width: 60px;
  }

    #contenedor-certificado-img img {
         margin: 3px;
         max-width: 100%;
         height: auto;
         cursor: pointer;
     }

   
    #contenedor-proyectos-img img {
       max-width: 100%;
       height: auto;
       cursor: pointer;
   }

   .nombre {
    font-size: 20px;
    margin-top: 0px;
    position: relative;
    font-style: oblique;
}
.cargo {
    font-size: 12px;
    margin-top: 35px;
}


footer {
    height: 50px;
}
.email,.numero {
    margin-left: 10px;
    font-size: 15px;
}
.logo-whatsapp {
    height: 20px;
}

}






