*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(180, 180, 172);
}

header {
    background-color: rgb(116, 198, 127);
    display: flex;
    justify-content: flex-end;  
    width: 100%;
    cursor: pointer;
}

.saludo {
    margin-top: 15px;
    font-size: 35px;
    display: flex;
}

header:hover {
    background-color: rgb(122, 188, 122);
}

.menu {
    display: flex; 
    margin: 10px;
}

.menu ul {
    list-style: none; 
    padding: 10px;
    margin: 10px;
    display: flex; 
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
}

.informacion {
    display: flex;
    width: auto; 
    height: 10px;
    margin-left: 30px;
    margin-top: 20px;
}
.nombre {
    font-size: 40px;
    margin-top: 5px;
    position: relative;
    font-style: oblique;
}
.cargo {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20px;
    position: absolute;
    margin-top: 45px;
}

.imagen-prin {
    display: flex;
    margin-left: 80%;
    position: relative;
    height: 50%;
    
}

.imagen-principal {
    width: 60%;
    height: 50%;
    border-radius: 10px;
    cursor: none;
    
}
.presentacion {
    position: absolute;
    margin-top: 130px;
}

#descargarcv {
    width: 90px;
    height: 60px;
    margin-left: 60%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 5px opx
   
}

#descargarcv:hover {
    background-color: gray;
}

.informacion img {
    width: 70px;
    height: 60px;  
    border-radius: 50px;
    margin-top: 10px;
   margin: 40px;
}

.contenedor-habilidades {
 margin-top: 10px;
 margin-left: 20px;
 display: flex;
 height: 100px;
 width: 1000px;
}

#contenedor-img-svg img {
    height: 80px;
    width: 80px;
    margin: 5px;
    border-radius: 5px;
  }

#btn-habilidades, #btn-certificados, #btn-proyectos {
    width: 100px;
    height: 40px;
    font-size: 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color:  rgb(116, 198, 127);
}
.contenedor-certificado {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    height: 130px;
    width: 1000px;
}
.contenedor-certificado img {
    margin-top: 30px;
    height: 100px;
    width: 150px;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
}

.contenedor-proyectos {
   margin-top: 30px;
   margin-left: 20px;
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
}

.img-proy {
    margin: 10px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
 
.contenedor-principal {
    flex: 1; 
}

.contenedor-footer {
  display: flex;
  background-color: black;
  color: white;
  height: 80px;
  padding: 30px;
  width: 100%;
  bottom: 0;
}

.email,.numero {
    margin-left: 10px;
    font-size: 18px;
}
.logo-whatsapp {
    height: 30px;
}

@media only screen and (max-width: 1300px) {
  .header,
  .contenedor-footer {
    width: auto;
  }
}

@media only screen and (max-width: 1100) {
    .contenedor-habilidades,
    .contenedor-certificado,
    .informacion {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:800px) {
    .informacion{
      height: 50px;
        
    }
}

@media screen and (max-width:550px) {
    .contenedor-footer {
        width: 80%;
    }
    .email,
    .numero {
        font-size: 12px;
    }
}
  









