*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(180, 180, 172);
    height: 100vh;
}

header {
    background-color: rgb(116, 198, 127);
    display: flex;
    justify-content: flex-end;  
    width: 100%;
    cursor: pointer;
}
header:hover {
    background-color: rgb(122, 188, 122);
}

section {
    display: flex; 
    flex-wrap: wrap; 
    width: 80%;
    height: 100vh;
    /* margin-top: 0px; */
    float: left;
    border: 2px solid;
}

aside {
    width: 220px;
    float: left; 
    margin: 20px;
    border: 2px solid;
    height: auto;
}

.imagen-principal {
    width: 100%;
    border-radius: 50px;
    cursor: none; 
}
.contenedor-presentacion {
    width: 100%;
}

.saludo {
    margin-top: 15px;
    font-size: 35px;
    display: flex;
}

.menu {
    display: flex; 
    margin: 10px;

}

.menu ul {
    list-style: none; 
    padding: 10px;
    margin: 10px;
    display: flex; 
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
}

.informacion {
    display: flex;
    width: auto; 
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
}
.nombre {
    font-size: 40px;
    margin-top: 5px;
    position: relative;
    font-style: oblique;
}
.cargo {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20px;
    position: absolute;
    margin-top: 45px;
}

#descargarcv {
    width: 90px;
    height: 60px;
    margin-left: 80%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 5px opx
   
}

#descargarcv:hover {
    background-color: gray;
}


#btn-habilidades, #btn-certificados, #btn-proyectos {
    width: 100px;
    height: 40px;
    font-size: 13px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color:  rgb(105, 149, 111);
}
#btn-habilidades:hover, #btn-certificados:hover, #btn-proyectos:hover {
    background-color:rgb(116, 198, 127);
}

.contenedor-habilidades {
    display: flex;
    margin: 20px;
    margin-top: 10px;
    height: auto;
    width: 90%;
}

#contenedor-img-svg img {
    flex-wrap: wrap;
    margin: 5px;
    height: 60px;
    width: 90px;
    margin-left: 10px;
    
  }

.contenedor-certificado {
    display: flex;
    margin: 20px;
    height: 80px;
    width: 90%;
    
}
#contenedor-certificado-img img{
   flex-wrap: wrap;
    margin-top: 5px;
    height: 100px;
    width: 135px;
    cursor: pointer;
    margin-left: 10px;
}

.contenedor-proyectos {
    display: flex;
    margin: 20px;
    height: auto;
    width: 90%;
}

#contenedor-proyectos-img img {
     flex-wrap: wrap;
    margin: 10px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

footer {
  display: flex;
  background-color: rgb(53, 48, 48);
  color: white;
  height: 80px;
  padding: 30px;
  width: 100%;
  bottom: 0;
  margin-top: 3px;
  /* position: fixed; */
}

.email,.numero {
    margin-left: 10px;
    font-size: 18px;
}
.logo-whatsapp {
    height: 30px;
}

@media (max-width: 1246px ) {

    header {
        background-color: rgb(116, 198, 127);
        display: flex;
        justify-content: flex-end;  
        width: 100%;
        cursor: pointer;
    }


    section {
        width: 75%;
        height: 100vh;
        margin-top: 0px;
        float: left;
        border: 2px solid;
    }

    .contenedor-habilidades {
        display: flex;
        margin: 5px;
        height: auto;
        width: 90%;
    } 
    #contenedor-img-svg img {
        margin: 3px;
        height: 50px;
        width: 60px;
        margin-left: 10px;
        
      }
    .contenedor-certificado {
        display: flex;
        margin: 5px;
        height: auto;
        width: 90%;
        
    }
    #contenedor-certificado-img img {
         margin: 3px;
         height: 70px;
         width: 100px;
         cursor: pointer;
         margin-left: 10px;
     }

    .contenedor-proyectos {
        display: flex;
        margin: 5px;
        height: auto;
        width: 90%;
    }
    #contenedor-proyectos-img img {
       margin: 3px;
       width: 100px;
       height: 70px;
       cursor: pointer;
   }


aside {
    width: 200px;
} 
} 

/*responsive de 960px*/
@media (max-width: 960px ) {

    header {
        background-color: rgb(116, 198, 127);
        display: flex;
        justify-content: flex-end;  
        width: 100%;
        cursor: pointer;
    }
    
    .informacion {
        display: flex;
        width: auto; 
        height: 10px;
        margin-left: 30px;
        margin-top: 20px;
    }
    .nombre {
        font-size: 30px;
        margin-top: 10px;
        position: relative;
        font-style: oblique;
        margin-left: 10px;
    }
    .cargo {
        font-style: italic;
        font-size: 18px;
        margin-bottom: 20px;
        position: absolute;
        margin-top: 45px;
        margin-left: 15px;
    }

    
.saludo {
    margin-top: 15px;
    font-size: 25px;
    display: flex;
}

.menu {
    display: flex; 
    margin: 10px;
    height: 50px;
}

    section {
        width: 60%;
        height: 100vh;
        margin-top: 0px;
        float: left;
        border: 2px solid;
    }

    .contenedor-habilidades {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        height: auto;
        width: 80%;
    } 
    #contenedor-img-svg img {
        margin: 3px;
        height: 50px;
        width: 50px;
        margin-left: 10px;
        
      }

    .contenedor-certificado {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        height: auto;
        width: 90%;
    }
    #contenedor-certificado-img img {
         margin: 3px;
         height: 70px;
         width: 90px;
         cursor: pointer;
         margin-left: 10px;
     }

    .contenedor-proyectos {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        height: auto;
        width: 90%;
    }
    #contenedor-proyectos-img img {
       margin: 3px;
       width: 100px;
       height: 70px;
       cursor: pointer;
   }


aside {
    width: 180px;
} 

footer {
    height: 50px;
}
.email,.numero {
    margin-left: 10px;
    font-size: 15px;
}
.logo-whatsapp {
    height: 20px;
}
#descargarcv {
    width: 60px;
    height: 60px;
}

#btn-habilidades, #btn-certificados, #btn-proyectos {
    width: 80px;
    height: 30px;
    font-size: 10px;
    margin: 5px;
    
}

#descargarcv {
    font-size: 20px;
}
.informacion {
    display: flex;
    width: auto; 
    height: 10px;
    margin-left: 10px;
    margin-top: 10px;
} 

}

/*responsive de 700px*/
@media (max-width: 700px ) {

    /* header {
        background-color: rgb(116, 198, 127);
        display: flex;
        justify-content: flex-end;  
        width: 100%;
        cursor: pointer;
    } */
    
    .informacion {
        display: flex;
        width: auto; 
        height: 10px;
        margin-left: 30px;
        margin-top: 20px;
    }
    .nombre {
        font-size: 20px;
        margin-top: 10px;
        position: relative;
        font-style: oblique;
        margin-left: 5px;
    }
    .cargo {
        font-style: italic;
        font-size: 10px;
        margin-bottom: 20px;
        position: absolute;
        margin-top: 35px;
        margin-left: 5px;
    }

    
.saludo {
    margin-top: 15px;
    font-size: 25px;
    display: flex;
}

.menu {
    display: flex; 
    margin: 10px;
    height: 45px;
}

    section {
        width: 60%;
        height: 100vh;
        margin-top: 0px;
        float: left;
        border: 2px solid;
    }

    .contenedor-habilidades {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        height: auto;
        width: 80%;
    } 
    #contenedor-img-svg img {
        margin: 3px;
        height: 50px;
        width: 50px;
        margin-left: 10px;
        
      }

    .contenedor-certificado {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        height: auto;
        width: 90%;
    }
    #contenedor-certificado-img img {
         margin: 3px;
         height: 70px;
         width: 90px;
         cursor: pointer;
         margin-left: 10px;
     }

    .contenedor-proyectos {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
        height: auto;
        width: 90%;
        
    }
    #contenedor-proyectos-img img {
       margin: 3px;
       width: 100px;
       height: 70px;
       cursor: pointer;
   }


aside {
    width: 130px;
} 

footer {
    height: 50px;
}
.email,.numero {
    margin-left: 10px;
    font-size: 15px;
}
.logo-whatsapp {
    height: 20px;
}
#descargarcv {
    width: 50px;
    height: 50px;
}
#descargarcv {
    font-size: 15px;
}

#btn-habilidades, #btn-certificados, #btn-proyectos {
    width: 80px;
    height: 30px;
    font-size: 10px;
    margin: 5px;
    
}


.informacion {
    display: flex;
    width: auto; 
    height: 10px;
    margin-left: 10px;
    margin-top: 10px;
} 

}










